@font-face {
  font-display: swap;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 100 900;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/fraunces:vf@latest/latin-wght-normal.woff2)
    format("woff2-variations");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212,
    U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-display: swap;
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/ibm-plex-mono@latest/latin-400-normal.woff2)
    format("woff2");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212,
    U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/inter:vf@latest/latin-wght-normal.woff2)
    format("woff2-variations");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212,
    U+2215, U+FEFF, U+FFFD;
}

:root {
  --pico-font-family-monospace: "IBM Plex Mono", monospace;
  --pico-font-family-sans-serif: "Inter", sans-serif;
  --pico-font-family-serif: "Fraunces", serif;
}

nav > ul > li > a > svg[role="icon"] {
  height: 1em;
  margin-bottom: 0.165em;
  width: auto;
}

nav > ul > li > a {
  font-size: var(--pico-font-size);
  font-weight: 900;
  letter-spacing: -0.065em;
}

nav > ul > li > a > span {
  font-family: var(--pico-font-family-serif);
}

footer > p > small > svg[role="icon"] {
  height: 1em;
  margin-bottom: 0.165em;
  width: auto;
}
