# builds
dist/

# logs
*.log

# macOS
.DS_Store
.fseventsd

# Node
.node_repl_history
.npm
node_modules/
npm-debug.log*

# Parcel
.parcel-cache/

# VSCode
.vscode/
!.vscode/extensions.json
!.vscode/settings.json
