---
layout: base.liquid
title: "David O’Reilly"
---
<p>Hello, I’m <strong>David O’Reilly.</strong>
<p>
  I’m also a frontend engineer based in London. I spend most of my time writing code (or telling AI to write it) so that delightful experiences happen inside your web
  browser. I like cups of coffee, paperback books, and walks in the rain.
</p>
<p>
  You can find my code on
  <a href="https://github.com/dsoreilly">Github</a>, notes on
  <a href="https://leaflet.pub/lish/did:plc:zmjbpkvqwwugwuxiof5itlxs/3mdndn2ymec2n">Leaflet</a>, and thoughts on
  <a href="https://bsky.app/profile/dsoreilly.me">Bluesky</a>.
</p>
