@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

html {
    font-size: 62.5%;
    background-color: #f7f7f7;
    color: #262626
}

body {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.23
}

main {
    max-width: 100%;
    padding: 4rem 2rem
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 4rem 2rem
}

h1 {
    display: none
}

p {
    font-size: 1.6em
}

a {
    position: relative;
    color: inherit;
    text-decoration: none;
    transition: all 0.2s ease-in-out
}

a::before {
    content: '';
    background: #ff69b4;
    display: block;
    position: absolute;
    bottom: -0.125em;
    right: 0;
    width: 100%;
    height: 0.125em;
    transition: all 0.2s ease-in-out
}

a:visited {
    color: inherit
}

a:hover,
a:active {
    color: #ff69b4;
    cursor: pointer
}

a:hover::before,
a:active::before {
    width: 0
}

nav ul {
    list-style: none;
    text-align: center
}

nav ul li {
    padding: 1em;
    display: inline-block;
    font-size: 1.2em
}

nav ul li a::before {
    bottom: -0.1875em;
    height: 0.0625em
}

@media (min-width: 375px) {
    p {
        font-size: 1.8em
    }
}

@media (min-width: 768px) {
    p {
        font-size: 3.6em
    }

    nav ul {
        text-align: left
    }

    nav ul li {
        font-size: 1.4em
    }

    nav ul li:first-child {
        padding: 1em 1em 1em 0
    }
}

@media (prefers-color-scheme: light) {
    html {
        background-color: #f7f7f7;
        color: #262626
    }
}

@media (prefers-color-scheme: dark) {
    html {
        background-color: #262626;
        color: #f7f7f7
    }
}