* {
  box-sizing: border-box;
  margin: 0;
  padding: 0
}
::selection { background-color: yellow }
html { font-size: 62.5% }
body {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.6rem;
  height: 100vh;
  justify-content: center;
  margin: 0 auto;
  width: 30rem
}
main {
  background-image: radial-gradient(hotpink 16%, transparent 16%), radial-gradient(hotpink 16%, transparent 16%);
  background-position: 0 0, 0.4rem 0.4rem;
  background-size: 0.8rem 0.8rem;
  box-shadow: 0.8rem 0.8rem aquamarine;
  font-weight: 700;
  letter-spacing: 0.3rem;
  padding: 1.2rem;
  text-transform: uppercase;
  width: 100%
}
h1 { display: none }
p {
  color: hotpink;
  text-shadow: 0.3rem 0.3rem aquamarine
}
ul {
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0
}
li { padding-top: 1.2rem }
a {
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase
}
@media (hover: hover) {
  main:hover { transform: skewX(-16deg) }
  a:hover { font-style: italic }
}
@media (prefers-color-scheme: light) {
  html { background-color: white }
  a { color: blue }
  a:active,
  a:focus { outline: 0.25rem solid yellow }

  @media (hover: hover) {
    a:hover { background-color: yellow }
  }
}
@media (prefers-color-scheme: dark) {
  html { background-color: black }
  a { color: yellow }
  a:active,
  a:focus { outline: 0.25rem solid blue }

  @media (hover: hover) {
    a:hover { background-color: blue }
  }
}
@media (min-width: 415px) {
  body { width: 36rem }
}
