---
import GlobalLayout from "../layouts/global.astro";
---

<GlobalLayout title="Page Not Found">
  <h1 class="mb-6 text-4xl font-bold tracking-tight lg:mb-7 lg:text-5xl">
    404
  </h1>
  <p class="mb-3 text-xl text-balance lg:mb-4 lg:text-2xl">
    This is not the page you’re looking for.
  </p>
</GlobalLayout>
