---
import LayoutGlobal from "../layouts/global.astro";
---

<LayoutGlobal title="David O’Reilly">
  <h1 class="mb-6 text-4xl font-bold tracking-tight lg:mb-7 lg:text-5xl">
    David O’Reilly
  </h1>
  <section class="text-xl text-balance lg:text-2xl">
    <p class="mb-3 lg:mb-4">
      I’m a frontend engineer based in London currently at <cite class="italic">
        The Telegraph
      </cite>. I build delightful, user-focused marketing experiences across app
      and web products.
    </p>
    <p>
      You can find me <a
        class="text-dawn-foam dark:text-moon-foam"
        href="https://atproto.at/uri/at://did:plc:zmjbpkvqwwugwuxiof5itlxs"
        rel="author external"
      >
        at://dsoreilly.me
      </a> in the Atmosphere.
    </p>
  </section>
</LayoutGlobal>
