// override syntax highlighting styles

// NOTE: BELOW IS WIP

.highlight table td {
  padding: 5px;
}

.highlight table pre {
  margin: 0;
}

.highlight {
  background-color: #f1f5f9;

  .highlighter-rouge & {
    background-color: #f1f5f9;
  }

  .w     { color: #bbb } // Text.Whitespace
  .err   { color: #a61717; background-color: #e3d2d2 } // Error

  .k     { font-weight: normal; font-style: normal } // Keyword
  .kc    { font-weight: normal; font-style: normal } // Keyword.Constant
  .kd    { font-weight: normal; font-style: normal } // Keyword.Declaration
  .kn    { color: #458; font-weight: normal; font-style: normal } // Keyword.Namespace
  .kp    { font-weight: normal; font-style: normal } // Keyword.Pseudo
  .kr    { font-weight: normal; font-style: normal } // Keyword.Reserved
  .kt    { color: #458; font-weight: normal; font-style: normal } // Keyword.Type
  .n     { color: #458; font-weight: normal; font-style: normal } // Name
  .na    { color: #008080; font-weight: normal; font-style: normal }  // Name.Attribute
  .nb    { color: #0086B3; font-weight: normal; font-style: normal }  // Name.Builtin
  .bp    { color: #008080; font-weight: normal; font-style: normal }  // Name.Builtin.Pseudo
  .nc    { color: #458; font-weight: normal; font-style: normal  } // Name.Class
  .no    { color: #008080; font-weight: normal; font-style: normal } // Name.Constant
  .nd    { color: #800080; font-weight: normal; font-style: normal } // Name.Decorator
  .ni    { color: #800080; font-weight: normal; font-style: normal } // Name.Entity
  .ne    { color: #900; font-weight: normal; font-style: normal } // Name.Exception
  .nf    { color: #900; font-weight: normal; font-style: normal } // Name.Function
  .py    { color: #458; font-weight: bold } // Name.Property
  .nn    { color: #555; font-weight: normal; font-style: normal } // Name.Namespace
  .nx    { color: #458; font-weight: normal; font-style: normal } // Name.Other
  .nt    { color: #458; font-weight: normal; font-style: normal } // Name.Tag
  .vc    { color: #008080; font-weight: normal; font-style: normal } // Name.Variable.Class
  .vg    { color: #008080; font-weight: normal; font-style: normal } // Name.Variable.Global
  .vi    { color: #008080; font-weight: normal; font-style: normal } // Name.Variable.Instance
  .nv    { color: #008080; font-weight: normal; font-style: normal } // Name.Variable
  .l     { color: #099; font-weight: normal; font-style: normal } // Literal
  .ld    { color: #099; font-weight: normal; font-style: normal } // Literal.Date
  .m     { color: #099; font-weight: normal; font-style: normal } // Literal.Number

  .s,   // Literal.String
  .sb,  // Literal.String.Backtick
  .sc,  // Literal.String.Char
  .sd   // Literal.String.Doc
  .s2,  // Literal.String.Double
  .se,  // Literal.String.Escape
  .sh,  // Literal.String.Heredoc
  .si,  // Literal.String.Interpol
  .sx,  // Literal.String.Other
  .sr,  // Literal.String.Regex
  .s1,  // Literal.String.Single
  .ss   
  {
    color: #d14;
    font-weight: normal;
    font-style: normal;
  }

  .m     { color: #099 } // Literal.Number
  .mf    { color: #099 } // Literal.Number.Float
  .mh    { color: #099 } // Literal.Number.Hex
  .mi    { color: #099 } // Literal.Number.Integer
  .il    { color: #099 } // Literal.Number.Integer.Long
  .mo    { color: #099 } // Literal.Number.Oct
  .mx    { color: #099 } // Literal.Number.Hex
  .mb    { color: #099; font-weight: normal; font-style: normal }  // Literal.Number.Bin
  .o     { color: #666; font-weight: normal; font-style: normal }  // Operator
  .ow    { color: #666; font-weight: normal; font-style: normal } // Operator.Word
  .p     { color: #999; font-weight: normal; font-style: normal } // Punctuation
  .c     { color: #998; font-weight: normal; font-style: normal } // Comment
  .cm    { color: #998; font-weight: normal; font-style: normal } // Comment.Multiline
  .cp    { color: #999; font-weight: normal; font-style: normal } // Comment.Preproc
  .c1    { color: #998; font-weight: normal; font-style: normal } // Comment.Single
  .cs    { color: #999; font-weight: normal; font-style: normal } // Comment.Special
  .g     { color: #000; background-color: #fdd } // Generic
  .gd    { color: #000; background-color: #fdd } // Generic.Deleted
  .ge    { font-weight: normal; font-style: normal }  // Generic.Emph
  .gr    { color: #a00; font-weight: normal; font-style: normal } // Generic.Error
  .gh    { color: #999; font-weight: normal; font-style: normal }  // Generic.Heading
  .gi    { color: #000; background-color: #dfd } // Generic.Inserted
  .go    { color: #888 } // Generic.Output
  .gp    { color: #555 } // Generic.Prompt
  .gs    { font-weight: bold } // Generic.Strong
  .gu    { color: #aaa } // Generic.Subheading
  .gt    { color: #a00 } // Generic.Traceback
  .gl    { color: #a00 } // Generic.Lineno
}
