body {
  color: #1f1f1f;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-size: 16px;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 800px;
  padding: 2.5rem 1rem;
}
picture img {
  border-radius: 50%;
  display: block;
  height: auto;
  margin: 0 auto 1em;
  width: 120px;
}
h1 {
  font-size: 2em;
  font-weight: 700;
  margin: 0 0 0.5em;
  text-align: center;
}
p {
  margin: 0 0 1em;
}
a {
  color: #1f1f1f;
  font-style: italic;
  text-decoration: underline;
}
a:visited {
  color: #1f1f1f;
  text-decoration: underline;
}
a:active,
a:hover {
  color: #1f1f1f;
  text-decoration: none;
}
em {
  font-style: italic;
}
nav {
  margin-top: 2em;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
nav ul li {
  display: inline;
  margin: 0 0.5em;
}
